@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

h1 {
    text-align: center;
    margin: 2rem;
}

form {
    text-align: center;
}

input[type="text"] {
    padding: 0.5rem;
    margin: 1.5rem;
}

ul li {
    list-style: none;
}

fieldset {
    border: none;
}

#uncheck-all {
    display: block;
    margin: 0 auto;
}
/*
input[type=checkbox] + label:before {
	content: "\f096";
	letter-spacing: 10px;
} /* unchecked icon */
/*
input[type=checkbox]:checked + label:before {
	content: "\f046";
	letter-spacing: 5px;
} /* checked icon */
